extends layout/main.pug

block content
    div.form__container
        form(action=`/video/${routes.editVideo}`, method="post")
            input(type="text", placeholder="Title", name="title")
            textarea(name="description", placeholder="Description")
            input(type="submit", value="Update Video")
        a.form__container-link.form_container__link--delete(href=`/videos${routes.deleteVideo}`) Delete Video