extends layout/main.pug
include mixins/videoBlock.pug

block content
    .search__header
        h3 searching for #{searchingBy}
    .search__videos
        for item of videos
            +videoBlock({
                title: item.title,
                views: item.views,
                videoFile:item.videoFile
            })