extends layout/main.pug

block content
    div.form__container
        form(action=`/videos${routes.upload}`, method="post", enctype="multipart/form-data")
            label(type="file") Video File
            input(type="file", id="file", name="videoFile", require=true, accept="video/*")
            input(type="text", placeholder="Title", name="title")
            textarea(name="description", placeholder="Description")
            input(type="submit", value="Upload Video")